@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
body{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}
/* shared style */
.layout{
    max-width: 1160px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.btn{
    background-color: orange;
    color: white;
    font-size:1.25rem ;
    font-weight: 600;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
}
.txt-orange{
    color: orange;
}
.txt-skyblue{
    color: skyblue;
}
.txt-light-blue{
    color: #05D4DF;
}
.txt-purple{
    color: #5D58EF;
}
.bg-purple{
    background-color: #5D58EF;
}
.section-title{
    font-size: 2.87rem;
    font-weight: bold;
    margin: 60px 0px;
}
/* marquee style */
 .marquee{
    padding: 10px 0px;
    background-color: orange;
    color: white;
    font-weight: bold;
 }

/* header style */
.header{
    max-width: 1440px;
    margin: 0 auto; 
    margin-top: 20px;
}
.navbar{
    align-items: center;
    justify-content: space-between;
}
.brand{
    align-items: center;
    
}
.brand h1{
    font-size: 2rem;
    font-weight: 700;
}
.navbar > ul{
    gap: 40px;
}
.navbar > ul >li{
    list-style: none;
}
.navbar > ul >li > a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
}
/* hamburg style */
.hamburg{
    display: none;
}
.hamburg-nav{
    background-color: orange;
    position: absolute;
    text-align: center;
    padding: 10px 20px;
    display: none;
}
.hamburg-nav li{
    list-style: none;
    margin-top: 8px;
}
.hamburg-nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* banner style*/
.banner{
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.banner-img img{
    width: 100%;
}
.banner-content{
    width: 645px;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: bold;
    margin: 24px 0px;
}
.banner-desc{
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 24px;
}
.banner-btn{
    background-color: black;
}

/* main style */
main{
    width: 100%;
    margin: 0 auto;
    background-image: url("../assets/bg.png");
    background-size: cover;
    background-repeat: repeat;
    text-align: center;

}
/* curriculum style */
.curriculum{
    margin-top: 140px;
}
.curriculum-cards{
    gap: 80px; 
    justify-content: center;
    margin: 80px 0px; 
}
.curriculum-card{
    width: 370px;
    height: 450px;
    text-align: center;
    padding: 40px;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-title{
    font-size: 1.5rem;
    margin: 35px 0px;
}
.card-desc{
    font-size: .9rem;
    color: #808080;
    margin-bottom: 35px;
}
#card-2{
    border: 0.94px solid rgb(255, 244, 220);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#card-3{
    border: 0.94px solid rgb(242, 232, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.arrow{
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.arrow-sign{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* our stories style */
.stories{
    /* max-width: 1440px; */
    width: 100%;
    background:url('../assets/bg.png'),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    overflow-x: hidden;
    padding: 100px 0px;
}
.stories-container{
    max-width: 1140px;
    width: 85%;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 30px;
}
.right-stories{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.left-stories{
    border: none;
    background-color: white;
    border-radius: 12px;
    width: 540px;
}
.left-stories > img{
    width: 100%;
    position: relative;
    border-radius: 12px 12px 0px 0px;
}
.left-stories-content{
    padding: 30px;
    text-align: justify;
}
.left-stories-title{
    font-size: 1.5rem;
    font-weight: 700;
}
.left-stories-desc{
    margin-top: 30px;
    font-size: 1rem;
    color: #808080;
}
.left-btn{
    border-radius: 47px;
    background-color: #05D4DF;
    padding: 10px 20px;
    position: relative;
    top: -30px;
    right: 100px;
}
.right-stories-card{
    border: none;
    background-color: white;
    max-width: 290px;
    border: none;
    border-radius: 12px;
}
.right-stories-card > img{
    position: relative;
    width: 100%;
    border-radius: 12px 12px 0px 0px;
    
}
.right-stories-title{
    font-size: 1rem;
    font-weight: 700;
    padding: 0px 30px 30px 30px;
    text-align: justify;
}

.right-btn{
    border-radius: 47px;
    background-color: #95B226;
    padding: 10px 20px;
    position: relative;
    top: -30px;
    right: 0px;
    font-size: 0.9rem;
}
#right-btn-2{
    background-color: #5D58EF;
}
.btn-stories{
    background-color: black;
}


/* footer style */
footer{
    background-color: rgb(1, 172, 253);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 123px 228px 174px 140px;
    
}
.footer-brand-name{
    font-size: 2rem;
    font-weight: 700;
}
.footer-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.kid-edu-desc{
    margin-top: 30px;
    width: 399px;
    text-align: justify;
}
.about-scl > ul{
    gap: 20px;
}
.about-scl > ul>li{
    list-style: none;
    margin-top: 15px;
}
.about-scl >ul> li > a{
    text-decoration: none;
    color: white;
}
.social-icon{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

/* responsive styles */
/* small device */
@media screen and (max-width:576px) {
    .brand-name, 
    .nav-btn,
    .arrow,
    .left-stories,
    .marquee,
    .navbar > ul{
        display: none;
    }   
    .navbar{
        padding: 0px 10px 10px 10px;
        border-bottom: 0.9px solid orange;
        align-items: center;
    }
    .hamburg{
        display: block;
    }
    .hamburg > i{
        font-size: 30px;
    }
    .hamburg:hover .hamburg-nav{
        display: block;
        transition: 0.9s ease-in;
    }
    .hamburg-nav{
        position: absolute;
        right: 50px;
    }
     footer {
        flex-direction: column;
        align-items: center;
    }
    .banner{
        flex-direction: column-reverse;
        padding: 15px;
    }
    .banner-content{
        width: 100%;
        text-align: center;
    }
    .banner-title{
        font-size: 2rem;
        margin: 0;
    }
    .banner-desc{
        font-size: 1rem;
    }
    .curriculum-cards{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-top: 0px;
        
    }
    .curriculum-card{
        width: calc(100% - 40px);
    }
    .section-title{
        font-size: 1.65rem;
        margin-top: 50px;
        margin-bottom: 20px;
    }
   .right-stories{
        gap: 10px;
   }
   .right-stories-title{
    font-size: 12px;
   }
   .right-btn{
    padding: 10px 10px;
    font-size: 10px;
    top: -20px;
}
   .stories-container{
        display: block;
        width: 100%;
        padding:0px 20px;
        column-gap: 0;
        margin: 30px 0px 40px 0px;
   }
    .stories{
        padding: 30px 0px 80px 0px;
        margin: 0;
    }
    .stories > .section-title{
        margin: 0;
    }

    footer{
        align-items: start;
        padding: 40px 20px;
        gap: 0;
        margin: 0px;
    }
    .kid-edu-desc{
        width: 80%;
        font-size: 16px;
    }
    .footer-title{
        margin-top: 20px;
    }
    
}